
/* //////// */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
    .course-featured{
        left: -15px;
        right: -15px;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) {
    
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991px) { 

}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199px) {

}

/* //////// */

/*Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .course-featured:before{
        right: 0%;
        background: rgb(0,0,0,0.6);
        background: -moz-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
        background: -webkit-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .course-featured:before{
        right: 30%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* /////////// */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* ///////// */ 

@media screen and (orientation:portrait){
	
}